/*top menu*/
.topmenu {
    background-color: #485460;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.5);
}

.topmenu a {
    color: white;
    padding: 18px 20px;
    font-size: 15px;
    font-family: Arial, Helvetica, serif;
    text-decoration: none;
}

.topmenu a:hover {
    background-color: black;
    cursor: pointer;
    color: white;
}

.topmenu a.active {
    background-color: orange;
    color: white;
}

/*How to center a div.jpeg*/
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}
/*All animations should be relative to a container element.*/
/*Anmimations*/
 #container {
     width: 400px;
     height: 400px;
     position: relative;
     background: #485460;
 }
#animate {
    width: 50px;
    height: 50px;
    position: absolute;
    background-color: orange;
}

/*More centering ye?*/
h1 {
    text-align: center;

}
